{% extends 'proffer/base.html' %}
{% load static %}
{% load product_price_tags %}
{% block content %}


<!-- ============================ COMPONENT LOGIN   ================================= -->
        <!-- account-area-start -->
        <div class="account-area mt-70 mb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="login-form-container">
                            <div class="basic-login">
                                <h5>Войдите в аккаунт</h5>
                                {% include 'proffer/includes/alerts.html' %}
                                <form action="{% url 'resetPassword' %}" method="POST">
                                    {% csrf_token %}

                                    <label for="pass">Создайте пароль <span>*</span></label>
                                    <input id="pass" type="password" placeholder="создайте пароль..." name="password">
                                    <label for="confirm_password">Повторите пароль <span>*</span></label>
                                    <input id="pass" type="password" placeholder="повторите пароль......" name="confirm_password">
                                    <!--<a href="#" class="tp-in-btn w-100">войти</a>-->
                                    <input class="tp-in-btn w-100" type="submit" value="Сбросить">
                                </form>
                                <p class="sign_up_bottom text-center mt-4">Еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
        <!-- account-area-end -->


{% endblock %}