{% extends 'proffer/base.html' %}
{% load static %}
{% load product_price_tags %}
{% block content %}
<section id="about-us" class="py-5">
    <div class="container">
        {% include 'proffer/includes/alerts.html' %}
        <div class="row">
            <!--left sidebar-->
            {% include 'proffer/includes/dashboard_sidebar.html' %}
            <!--Content-->
            <div class="col-md-9">
                <div class="dashboard-area">
                    <div class="row">
                        <div class="col-12">
                            <!-- product-details-des-start -->
                            <div class="product-details-des mb-60">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="product__details-des-tab">
                                                <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <button class="nav-link active" id="des-tab"
                                                            data-bs-toggle="tab" data-bs-target="#des" type="button"
                                                            role="tab" aria-controls="des" aria-selected="true">Мои избранные
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-content" id="prodductDesTaContent">
                                        <div class="tab-pane fade active show" id="des" role="tabpanel"
                                            aria-labelledby="des-tab">
                                            <div class="product__details-des-wrapper">
                                                <div class="row">                                                  
                                                    <div class="col-xl-12">                      
                                                        <div class="tab-content" id="productGridTabContent">
                                                            <div class="tab-pane fade  show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
                                                                <div class="tp-wrapper">
                                                                    {% if my_wishlist %}
                                                                    <div class="row g-0">
                                                                        {% for product in my_wishlist %}
                                                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                                                            <div class="product__item_3 product__item-d">
                                                                                <div class="product__thumb fix">
                                                                                    <div class="product-image w-img">
                                                                                        <a href="{{product.product.get_absolute_url}}">
                                                                                            <img src="/media/{{product.product.product_image}}" alt="product">
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="product__offer">
                                                                                        {% if product.product.discount %}
                                                                                        <span class="discount">{{product.product.discount}}%</span>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                    <div class="product-action">
                                                                                        <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                                                                            <i class="fal fa-eye"></i>
                                                                                            <i class="fal fa-eye"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="product__content-3">
                                                                                    <h6><a href="{{product.product.get_absolute_url}}">{{product.product.product_name|truncatewords:2}}</a></h6>
                                                                                    {% if product.product.discount %}
                                                                                        <div class="price mb-10">
                                                                                            <span>{% call_sellprice product.product.price product.product.discount %} ₽</span>&nbsp;<del>{{product.product.price}} ₽</del>
                                                                                        </div>
                                                                                    {% else %}
                                                                                        <div class="price mb-10">
                                                                                            <span>{{product.product.price}} ₽</span>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    
                                                                                </div>
                                                                                <div class="product__add-cart-s text-center">
                                                                                    <!--<a href="#" class="cart-btn-2 d-flex mb-10 align-items-center justify-content-center w-100">войти</a>-->
                                                                                    <button type="button" class="cart-btn-2 d-flex mb-10 align-items-center justify-content-center w-100 delete_to_wishlist" data-id="{{product.product.id}}" data-url="{% url 'delete_to_wishlist' product.product.id %}">Удалить</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                        
                                                                    </div>
                                                                    {% else %}
                                                                    <div class="row g-0">
                                                                        <span class="text-center">Упс! ни одного товара найдено в избранном.</span>
                                                                        <span class="text-center">Избранные объявления отображаются здесь.</span>

                                                                    </div>                            
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="tp-pagination text-center">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <div class="basic-pagination pt-30 pb-30">
                                                                        <nav>
                                                                           <ul>
                                                                              <li>
                                                                                 <a href="#" class="active">1</a>
                                                                              </li>
                                                                              <li>
                                                                                 <a href="#">2</a>
                                                                              </li>
                                                                              <li>
                                                                                 <a href="#">3</a>
                                                                              </li>
                                                                             <li>
                                                                                <a href="#">5</a>
                                                                             </li>
                                                                             <li>
                                                                                <a href="#">6</a>
                                                                             </li>
                                                                              <li>
                                                                                 <a href="#">
                                                                                    <i class="fal fa-angle-double-right"></i>
                                                                                 </a>
                                                                              </li>
                                                                           </ul>
                                                                         </nav>
                                                                     </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!-- product-details-des-end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}