{% load static %}
<!-- footer-start -->
<footer>
    <div class="fotter-area d-dark-bg">
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-content pt-55 pb-45">
                    <div class="row">
                        <div class="col-xl-12">
                            <!--<div class="footer__links text-center mb-25">
                                <p>
                                    <a href="#">Online Shopping</a>
                                    <a href="#">Promotions</a>
                                    <a href="#">My Orders</a>
                                    <a href="#">Help</a>
                                    <a href="#">Customer Service</a>
                                    <a href="#">Support</a>
                                    <a href="#">Most Populars</a>
                                    <a href="#">New Arrivals</a>
                                    <a href="#">Special Products </a>
                                    <a href="#">Manufacturers</a>
                                    <br>
                                    <a href="#">Garden Equipments</a>
                                    <a href="#">Powers And Hand Tools </a>
                                    <a href="#">Utensil &amp; Gadget </a>
                                    <a href="#">Printers</a>
                                    <a href="#">Projectors</a>
                                    <a href="#">Scanners</a>
                                    <a href="#">Store</a>
                                    <a href="#">Business</a>
                                </p>
                            </div>
                            <div class="payment-image text-center mb-25">
                                <a href="#"><img src="{% static 'assets/img/payment/payment.png' %}" alt=""></a>
                            </div>-->
                            <div class="copy-right-area text-center">
                                <p>© Copyright 2022 — 2023 — <span>Proffer</span> — все права защищены.</p>
                            </div>
                            <div class="copy-right-area text-center">
                                <p><a href="#"><span class="main-color"> Маркетплейс для продажи автозапчастей и услуг
                                    мастеров автобизнеса </span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->